<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InsertServlet</servlet-name>
        <servlet-class>InsertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertSpecialite</servlet-name>
        <servlet-class>InsertSpecialite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertClientServlet</servlet-name>
        <servlet-class>InsertClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeVehiculeServlet</servlet-name>
        <servlet-class>ListeVehiculeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeEmployeServlet</servlet-name>
        <servlet-class>ListeEmployeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServeServiceServlet</servlet-name>
        <servlet-class>ServeServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServeInsertEmploye</servlet-name>
        <servlet-class>ServeInsertEmploye</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServeInsertVehicule</servlet-name>
        <servlet-class>ServeInsertVehicule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServeDevisServlet</servlet-name>
        <servlet-class>ServeDevisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingleServiceDevis</servlet-name>
        <servlet-class>SingleServiceDevis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeServiceServlet</servlet-name>
        <servlet-class>ListeServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServeProduit</servlet-name>
        <servlet-class>ServeProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrixProduitServlet</servlet-name>
        <servlet-class>PrixProduitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGaragiste</servlet-name>
        <servlet-class>LoginGaragiste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServeServiceClient</servlet-name>
        <servlet-class>ServeServiceClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServeInsertService</servlet-name>
        <servlet-class>ServeInsertService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackInsertService</servlet-name>
        <servlet-class>BackInsertService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServeFacture</servlet-name>
        <servlet-class>ServeFacture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServeListeFacture</servlet-name>
        <servlet-class>ServeListeFacture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServeDetailsFacture</servlet-name>
        <servlet-class>ServeDetailsFacture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Paiement</servlet-name>
        <servlet-class>Paiement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertDepense</servlet-name>
        <servlet-class>InsertDepense</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServeInsertDepense</servlet-name>
        <servlet-class>ServeInsertDepense</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServeCaisse</servlet-name>
        <servlet-class>ServeCaisse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertReport</servlet-name>
        <servlet-class>InsertReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertServlet</servlet-name>
        <url-pattern>/InsertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertSpecialite</servlet-name>
        <url-pattern>/InsertSpecialite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertClientServlet</servlet-name>
        <url-pattern>/InsertClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeVehiculeServlet</servlet-name>
        <url-pattern>/ListeVehicule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeEmployeServlet</servlet-name>
        <url-pattern>/ListeEmploye</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServeServiceServlet</servlet-name>
        <url-pattern>/ServeService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServeInsertEmploye</servlet-name>
        <url-pattern>/ServeInsertEmploye</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServeInsertVehicule</servlet-name>
        <url-pattern>/ServeInsertVehicule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServeDevisServlet</servlet-name>
        <url-pattern>/ServeDevis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingleServiceDevis</servlet-name>
        <url-pattern>/SingleServiceDevis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeServiceServlet</servlet-name>
        <url-pattern>/ListeService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServeProduit</servlet-name>
        <url-pattern>/ServeProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrixProduitServlet</servlet-name>
        <url-pattern>/PrixProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGaragiste</servlet-name>
        <url-pattern>/LoginGaragiste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServeServiceClient</servlet-name>
        <url-pattern>/ServeServiceClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServeInsertService</servlet-name>
        <url-pattern>/ServeInsertService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackInsertService</servlet-name>
        <url-pattern>/BackInsertService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServeFacture</servlet-name>
        <url-pattern>/ServeFacture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServeListeFacture</servlet-name>
        <url-pattern>/ServeListeFacture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServeDetailsFacture</servlet-name>
        <url-pattern>/ServeDetailsFacture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Paiement</servlet-name>
        <url-pattern>/Paiement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertDepense</servlet-name>
        <url-pattern>/InsertDepense</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServeInsertDepense</servlet-name>
        <url-pattern>/ServeInsertDepense</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServeCaisse</servlet-name>
        <url-pattern>/ServeCaisse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertReport</servlet-name>
        <url-pattern>/InsertReport</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
